<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    	<meta charset="utf-8">
      <meta name="description" content="Traveling HTML5 Template" />
      <meta name="author" content="Design Hooks" />
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Raleway:400,700" rel="stylesheet" />
      <link href="/img/favicon.png" type="image/x-icon" rel="shortcut icon" />
      
      <link href="/css/screen.css" rel="stylesheet" />
      <link href="/css/bootstrap.min.css" rel="stylesheet">
      <script src="/js/socket.io.js"></script>
      <script>
	    var socket = io();
	  </script>
   </head>
   <body class="home" id="page">
      <!-- Header -->
      <header class="main-header">
         <div class="container">
            <div class="header-content">
               <!-- <a href="index.html">
                  <img src="img/site-identity.png" alt="site identity" />
               </a> -->

               <div class="site-nav">
               <div class="col-md-8 col-lg-8 col-sm-12 text-left">
                  <h1><%= data.general.name %></h1>
                  <p><%= data.general.address %></p>
               </div>
               <div class="col-md-4 col-lg-4 col-sm-12 text-right">
               <div class="time">
                  <h2 id="Gdate"> - </h2><br>
                  <h1><span id="Gtime">-</span> <span id="timezone"></span></h1>
               </div>
               </div>
               </div>
            </div>
         </div>
      </header>

      <!-- Main Content -->
      <div class="content-box">
         <!-- Hero Section -->
         <section class="section section-hero">
            <div class="hero-box">
               <div class="container">
  
               <div class="col-md-6 col-lg-6 col-sm-12">
                  <div class="cuaca hero-text align-center">
                     <h1>Menuju Waktu <span id="prayTime"> - </span></h1>
                     <h2 id="timeCounter"> - </h2>

                     <div class="blue-box">
                        <div class="blue-item">
                           <span class="value">25&#8451;</span>
                           <p class="title">Temperatur</p>
                        </div>

                        <div class="blue-item">
                           <span class="value">79%</span>
                           <p class="title">Kelembaban</p>
                        </div>
                     </div>
                     
                  </div>

               </div>
               <div class="col-md-6 col-lg-6 col-sm-12">
                  <div class="cuaca hero-text align-center">
                     <h1>Hadits</h1>
                     <p>Apabila berkumpul tiga orang janganlah yang dua orang berbisik-bisik (bicara rahasia) dan meninggalkan orang yang ketiga (karena hal tersebut akan menimbulkan kesedihan dan perasaan tidak enak baginya). (HR. Bukhari)</p>
                  </div>

               </div>
               </div>
            </div>

            <!-- Statistics Box -->
            <!-- <div class="container"> -->
               <div class="box">
                 <div class="statistics-box"> 
                  <div class="statistics-item">
                     <p class="title">Imsak</p>
                     <span id="imsak" class="value"> - </span>
                  </div>

                  <div class="statistics-item">
                     <p class="title">Shubuh</p>
                     <span id="fajr" class="value"> - </span>
                  </div>

                  <div class="statistics-item">
                     <p class="title">Terbit</p>
                     <span id="sunrise" class="value"> - </span>                     
                  </div>

                  <!-- <div class="statistics-item">
                     <p class="title">Dluha</p>
                     <span id="dluha" class="value"> - </span>
                  </div> -->

                  <div class="statistics-item">
                     <p class="title">Dzuhur</p>
                     <span id="dhuhr" class="value"> - </span>
                  </div>

                  <div class="statistics-item">
                     <p class="title">Ashar</p>
                     <span id="asr" class="value"> - </span>
                  </div>

                  <div class="statistics-item">
                     <p class="title">Maghrib</p>
                     <span id="maghrib" class="value"> - </span>
                  </div>

                  <div class="statistics-item">
                     <p class="title">Isya</p>
                     <span id="isha" class="value"> - </span>
                  </div>
                  </div>

                  <div class="weather">
                  <div class="statistics-box"> 
                  <div class="statistics-item">
                     <p class="infocuaca">Berawan</p>
                  </div>

                  <div class="statistics-item">
                     <p class="infocuaca">Berawan</p>
                  </div>

                  <div class="statistics-item">
                     <p class="infocuaca">Cerah</p>
                  </div>
                  
                  <div class="statistics-item">
                     <p class="infocuaca">Cerah</p>
                  </div>

                  <div class="statistics-item">
                     <p class="infocuaca">Hujan Ringan</p>
                  </div>

                  <div class="statistics-item">
                     <p class="infocuaca">Hujan Ringan</p>
                  </div>

                  <!-- <div class="statistics-item">
                     <p class="infocuaca">Berawan</p>
                  </div> -->

                  <div class="statistics-item">
                     <p class="infocuaca">Berawan</p>
                  </div>
                  </div>
                  <div class="statistics-title text-center">
                     <h3>Prakiraan Cuaca BMKG</h3>
                  </div>
                  </div>
               </div>
            <!-- </div> -->
         </section>

      <!-- Scripts -->
      <script src="/js/jquery.js"></script>
      <script src="/js/bootstrap.min.js"></script>
      <script src="/js/functions.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/locale/id.js"></script>
      <script>
      	var prayTime = [];
      	var prayName = ['Imsak', 'Shubuh', 'Terbit', 'Dzuhur', 'Ashar', 'Maghrib', 'Isya']
      	socket.on('praynow', function (result) {
      		prayTime[0] = result.praynow.imsak;
      		$('#imsak').html(result.praynow.imsak)
      		prayTime[1] = result.praynow.fajr;
      		$('#fajr').html(result.praynow.fajr)
      		prayTime[2] = result.praynow.sunrise;
      		$('#sunrise').html(result.praynow.sunrise)
      		prayTime[3] = result.praynow.dhuhr;
      		$('#dhuhr').html(result.praynow.dhuhr)
      		prayTime[4] = result.praynow.asr;
      		$('#asr').html(result.praynow.asr)
      		prayTime[5] = result.praynow.maghrib;
      		$('#maghrib').html(result.praynow.maghrib)
      		prayTime[6] = result.praynow.isha;
      		$('#isha').html(result.praynow.isha)
      		
      		$('#timezone').html(result.praynow.time_zone_id)
      	})

      	socket.on('realtime', function (result) {
      		var date = result.realtime.date;
      		var day = moment(date).format("dddd, DD-MM-YYYY");
      		var time = moment(date).format("HH:mm:ss");
      		$('#Gdate').html(day)
      		$('#Gtime').html(time)

      		counter(day, time)
      	})

      	function checkBeetween(now) {
      		var dateNow = moment(now).format("YYYY-MM-DD");

      		for (a=0;a<=6;a++) {
      			if(a<6) {
      				if(now>=moment([dateNow,prayTime[a]].join(' ')).format('x')  && now < moment([dateNow,prayTime[a+1]].join(' ')).format('x')) {
      				$('#prayTime').html(prayName[a+1])
      				return moment([dateNow,prayTime[a+1]].join(' ')).format('x')
      			}	
      			} else {
      				$('#prayTime').html(prayName[0])
      				
      				return new Date([dateNow,prayTime[0]].join(' ')).getTime()+(60*60*24*1000)
      			
      			}
      			
      		}
      	}

      	function counter(date, time) { 
      		
      		var countDownDate = checkBeetween(new Date([date, time].join(' ')).getTime());
      		
      		var now = new Date([date, time].join(' ')).getTime();

			  // Find the distance between now an the count down date
			  var distance = countDownDate - now;

			  // Time calculations for days, hours, minutes and seconds
			  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
			  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
			  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
			  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

			  // Display the result in the element with id="demo"
			  $("#timeCounter").html(hours + " jam " + minutes + " menit " + seconds + " detik ");

			  // If the count down is finished, write some text 
			  if (distance < 0) {
			   
			  }
      	}

      </script>
   </body>
</html>